*{
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: monospace;
}
body{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    max-width: 100%;
    height: 100%;
    
}